.section {
  display: flex;
  flex-direction: column;
  margin: 16px 4px;
  padding: 2px;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  text-align: center;
  width: 30rem;
  background-color: #e7f3fa;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 12px;
}

.stageName {
  font-size: 24px;
}

.stage {
  margin: 4px;
  font-size: 14px;
}

.location {
  font-size: 12px;
}

.startDate {
  margin: 4px;
}

.raceInfo {
  display: flex;
  justify-content: space-between;
  margin: 4px;
}
