.section {
  width: 22.5rem;
  margin: 8px;
  padding: 4px;
  text-align: center;
}

.title {
  font-size: 18px;
  text-shadow:
    -1px -1px 0 #fff,
    1px 1px 0 #000;
  border: 1px solid #000;
  border-radius: 12px;
  margin: 4px;
}

.list {
  margin: 4px;
}

li {
  font-weight: bold;
  list-style-type: none;
}

.name {
  color: blue;
  background-color: #d4b4f1;
}

.tournament {
  color: red;
}

.nextRace {
  color: #6699cc;
}

p {
  font-size: 12px;
}
